* {
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
    scroll-behavior: smooth;
}

.text-left {
    text-align: left;
}

:root {
    /* colors */
    --main-color: #700FAA;
    --main-color-dark: #2d0054;
    --color-secondary: #334E89;
    --color-secondary-violet: #D3C4F9;
    --bg-white: #FAFBFF;
}

/* custom background to nav */
.custom-bg-white {
    background-color: var(--bg-white);
    border-radius: 0 0px 15px 15px;
    border: none;
}

.navbar {
    filter: drop-shadow(0px -4px 11px var(--main-color-dark));
}

/* NAVBAR AND BUTTONS GENERAL SETTINGS */

.navbar-light .navbar-brand, .card-title{
    color: var(--main-color);
    font-weight: 600;
}

#hambButton:focus,
#hambButton:active,
#hambButton:focus {
    outline: 2px solid var(--main-color);
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link, .dropdown-item {
    color: var(--main-color-dark);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .dropdown-item:hover {
    color: var(--color-secondary);
}

/* SM icons */

.text-main-color, .text-main-color i {
    color: var(--main-color);
}

/* background setting */
.bg-violet {
    background: linear-gradient(45deg, var(--color-secondary), var(--main-color));
}

/* setting to color the active links(current page)*/
.navActive {
    color: var(--main-color);
    font-weight: 600;
} 

/* h2 section title color */
section:nth-child(even) h2 {
    color: var(--main-color);
}

/* SECTIONS */

section {
    padding-top: 3%;
    padding-bottom: 3%;
}

/* HERO SECTION */

#heroSection {
    background-image: url(../assets/wallpaper2.svg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--bg-white);
    padding: 10% 3%;
    border-radius: 0 0 90px 90px;
}

.custom-button{
    color: var(--main-color);
    font-size: 1.7em;
}

.custom-button:hover{
    color: var(--color-secondary);
    transform: scale(1.1);
    box-shadow: 3px 3px 60px var(--color-secondary-violet);
}

.custom-button:hover {
    /* border: 3px solid var(--main-color); */
    filter: drop-shadow(10px --main-color);
}

/* FEATURES SECTION */

/* FeatureCard */

#featuresCardsWrap {
    gap: 3%;
}

.featureCard {
    max-width: 350px;
    text-align: center;
}

.featureCard img {
    width: 100%;
    border-radius: 50%;
}

.featureCard .card {
    border: none;
}

.featureCard a:hover {
    text-decoration: none;
}

/* ABOUT SECTION */

#aboutSection {
    color: var(--bg-white);
}

#aboutSection img {
    width: 500px;
}

/* GALLERY SECTION (and a little config of FEATURES SECTION > cards hovering*/
.galleryCard {
    padding-bottom: 3%;
}

.galleryCard img {
    object-fit: cover;
    height: 250px;
}

.galleryCard .card, .featureCard a .img  {
    border-radius: 15px;
    transition: transform .2s ease-in;
}

.galleryCard .card:hover {
    box-shadow: 5px 5px 20px var(--color-secondary-violet);
    transform: scale(1.07);
}

.featureCard a img:hover {
    transform: scale(1.1);
}

/* CONTACT SECTION */

#contactSection {
    color: var(--bg-white);
}

/* FOOTER */
footer {
    background-color: var(--main-color-dark);
}
footer hr.line-custom {
    width: 60px;
    height: 2px;
    background-color: var(--main-color);
}

footer div:nth-child(3) a {
    color: white;
}

/* MEDIA QUERIES */
/* adapt about section mockup/image for tablets */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    #aboutSection img {
        width: 400px;
    }
}

/* preventing broken display on mobile */
@media screen and (max-width: 1200px) {
    #aboutSection {
        overflow: hidden;
    }
}

#aboutSection h5 {
    line-height: 1.6em;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}


